<div class="container" style="padding-top: 60px;">
  <h1>Bienvenido, {{ usuario }}.</h1>
</div>
<div [routerLink]="['/compras']" routerLinkActive="router-link-active"  class="card text-white mb-3">
  <div class="card-body">
    <h2 class="card-title"><i class="fa fa-money"></i></h2>
    <p class="card-text"><b>Compras</b></p>
  </div>
</div>
<div [routerLink]="['/ventas']" routerLinkActive="router-link-active"  class="card text-white mb-3">
    <div class="card-body">
        <h2 class="card-title"><i class="fa  fa-sellsy"></i></h2>
        <p class="card-text"><b>Ventas</b></p>
    </div>
</div>
<div [routerLink]="['/almacen']" routerLinkActive="router-link-active"  class="card text-white mb-3">
  <div class="card-body">
    <h2 class="card-title"><i class="fa fa-truck"></i></h2>
    <p class="card-text"><b>Almacen</b></p>
  </div>
</div>
<div *ngIf="rol == 'Admin'" [routerLink]="['/usuarios']" routerLinkActive="router-link-active"  class="card text-white mb-3">
  <div class="card-body">
    <h2 class="card-title"><i class="fa fa-users"></i></h2>
    <p class="card-text"><b>Usuarios</b></p>
  </div>
</div>