<div [routerLink]="['/compras']" routerLinkActive="router-link-active"  class="card bg-light mb-3" style="max-width: 18rem; float: left; margin-top: 20px; margin-left: 20px; cursor: pointer;">
  <div class="card-body">
    <h5 class="card-title">Compras</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div [routerLink]="['/ventas']" routerLinkActive="router-link-active"  class="card bg-light mb-3" style="max-width: 18rem; float: left; margin-top: 20px; margin-left: 20px; cursor: pointer;">
    <div class="card-body">
        <h5 class="card-title">Ventas</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div [routerLink]="['/almacen']" routerLinkActive="router-link-active"  class="card bg-light mb-3" style="max-width: 18rem; float: left; margin-top: 20px; margin-left: 20px; cursor: pointer;">
  <div class="card-body">
    <h5 class="card-title">Almacen</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div [routerLink]="['/usuarios']" routerLinkActive="router-link-active"  class="card bg-light mb-3" style="max-width: 18rem; float: left; margin-top: 20px; margin-left: 20px; cursor: pointer;">
  <div class="card-body">
    <h5 class="card-title">Usuarios</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>