<form>
  <div class="form-row">
    <div class="form-group col-md-6">
        <div class="form-group col-md-6">
            <label for="inputNombre">Nombre</label>
            <input type="Nombre" class="form-control" id="inputNombre" placeholder="Melissa Fereiro">
          </div>
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="diana.ch@hot...">
    </div>
  </div>
  <div class="form-group">
    <label for="inputDiereccion">Diereccion</label>
    <input type="text" class="form-control" id="inputDiereccion" placeholder="Juan de la barrera 152">
  </div>
  <div class="form-group">
    <label for="inputAddress2">telefono</label>
    <input type="text" class="form-control" id="inputtelefono" placeholder="871 7932619">
  </div>
  <div class="form-row">
  </div>
  <div class="form-group">
    <div class="form-check">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Registrar</button>
</form>