/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: QuickSand;
    src: url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900');
}

div{
    font-family: QuickSand;
}

div.row{
    margin-bottom: 30px;
}

table{
    cursor: default;
}

.btn-buscar{
    color: white;
    background: rgb(0,74,163);
    background: linear-gradient(158deg, rgba(0,74,163,1) 0%, rgba(152,242,255,1) 100%);
    border: none;
    border-radius: 5px;
    -webkit-transition: width .5s; /* Safari prior 6.1 */
    transition: .5s;
    transition-timing-function: ease-in-out;
}

.btn-buscar.hover{
    -webkit-transition: width .5s; /* Safari prior 6.1 */
    transition: .5s;
    transition-timing-function: ease-in-out;
    background: rgb(0,74,163);
    background: linear-gradient(158deg, rgba(0,74,163,1) 65%, rgba(201,248,255,1) 100%);
}