/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: QuickSand;
    src: url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900');
}

div{
    font-family: QuickSand;
}

div.row{
    margin-bottom: 30px;
}

table{
    cursor: default;
}