<app-navbar></app-navbar>

<div class="container container-fluid mt-3">
    <h1>Nueva Compra</h1>
  <div class="content">
        <div class="row" style="margin-top: 40px;">
 <select class="form-control col-6">
                
            <option *ngFor="let item of proveedores" value={{item.id}}>{{item.nombre_proveedor}}</option>
          </select>
            
            <button class="col-2 btn btn-primary offset-2 ml-3" data-toggle="modal" data-target="#agregarprovedor">Añadir provedor</button>
            <button class="col-2 btn btn-success ml-3 " data-toggle="modal" data-target="#agregar">Añadir compras</button>
        </div>
      </div>
    </div>
  

        
      
       

<!-- Formulario de registro -->
<div class="modal fade" id="agregar" tabindex="-1" role="dialog" aria-labelledby="agregarLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Añadir Compra</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="compra_registrar">compra</label>
                  <input name="compra_registrar" type="text" class="form-control" id="compra_registrar" required>
                </div>
                <div class="form-group">
                  <label for="descripcion_registrar">Descripción</label>
                  <input  name="descripcion_registrar" type="text" class="form-control" id="descripcion_registrar" required>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="cantidad_registrar">Cantidad</label>
                    <input name="cantidad_registrar" min="1" type="number" class="form-control" id="cantidad_registrar" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="udm_registrar">Unidad de medida</label>
                    <select  name="udm_registrar" class="form-control" id="udm_registrar">
                      <option value="Pieza">Pieza</option>
                      <option value="Elemento">Elemento</option>
                      <option value="Servicio">Servicio</option>
                      <option value="Actividad">Actividad</option>
                      <option value="Trabajo">Trabajo</option>
                      <option value="Conjunto">Conjunto</option>
                      <option value="Metro cuadrado">Metro cuadrado</option>
                      <option value="Kit (Conjunto de piezas)">Kit (Conjunto de piezas)</option>
                      <option value="Docena">Docena</option>
                      <option value="Par">Par</option>
                      <option value="Lote">Lote</option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="precio_lista_registrar">Precio Lista</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                      </div>
                      <input  name="precio_lista_registrar" type="number" min="1" class="form-control" id="precio_lista_registrar" required>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="precio_publico_registrar">Precio al público</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                      </div>
                      <input  name="precio_publico_registrar" type="number" min="1" class="form-control" id="precio_publico_registrar" required>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning text-white" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-success" data-dismiss="modal">Registrar</button>
            </div>
          </div>
        </div>
      </div>


      <!-- Formulario de provedores -->
<div class="modal fade" id="agregarprovedor" tabindex="-1" role="dialog" aria-labelledby="agregarLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir provedor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="nuevoProveedor" >
          <div class="form-group">
            <label for="nombre_proveedor">Proveedor</label>
            <input formControlName="nombre_proveedor" name="nombre_proveedor" type="text" class="form-control" id="nombre_proveedor" required>
          </div>
          <div class="form-group">
            <label for="direccion_proveedor">Direccion</label>
            <input formControlName="direccion"  name="direccion_proveedor" type="text" class="form-control" id="direccion_proveedor" required>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="telefono_proveedor">Telefono</label>
              <input formControlName="telefono" name="telefono_proveedor" min="1" type="text" class="form-control" id="telefono_proveedor" required>
            </div>
              <div class="form-group ">
                <label for="correo_proveedor">Correo</label>
                <input formControlName="correo" name="correo_proveedor" type="email"  class="form-control" id="correo_proveedor" required>
              </div>
          </div>
         
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning text-white" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]="nuevoProveedor.invalid" (click)="registrarProveedor()">Registrar</button>
      </div>
    </div>
  </div>
</div>
    